/*
Aqui escribe tu codigo de CSS.
*/

h1 {
	font-family: arial;
	float: right;
	margin-bottom: -20px;
}
h5 {
	font-family: arial;
	float: right;
	clear: right;
}
body {
	color: #444242;
	font-family: arial;
	margin-left: 60px;
	margin-right: 60px;

}

h2 {
	color: #777777;
	font-family: arial;

}

.imag {
	float: left;
	left: 50%;
}

.image {
	float: right;
	right: 50%;
}

.search {
	text-align: center;
}
